/* 
    General Styles
*/
body *  {
background-color: black;
color:white;
font-weight: bold;
}

nav{
    color:white;
    background-color: black;
}
/* .list-group{
   
} */

.list-group-item{
    width: 500px;
    background-color: black;
    margin-bottom: 10px;
    border: 5px;
    border-color: blue;
}
.img-circle{
    width: 10rem;
    border-radius: 100px;
}

.icons{
    display: flex;
    margin-top: 10px;
    padding: 0;
}

.data{
    width: 20px;
    padding-right: none;
    margin-right: none;
}